.git
.gitignore
.gitattributes
.env
.env.*
!.env.example

node_modules
vendor
public/build
public/hot

storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
!storage/framework/**/.gitignore
!storage/logs/.gitignore

.idea
.vscode
.fleet
.nova
.zed
.phpunit.cache
.phpunit.result.cache

docs
tests
README.md
auditoria_proyecto.md
